.ctn__confirm{
  margin-top: 64px;
  background-color: #f8f5fd;
  min-height: 95vh;
  margin-bottom: 1rem;
}
.image-container{
  padding: 30px;
}
.confirm-form {
  max-width: 420px;
}
.confirm-form  h2{
  color: #7342BF;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: left;
  
}
.confirm-form label{
  font-size: 1rem;
  margin-bottom: .25rem;
}

.confirm-form input{
  line-height: 40px;
  width: 100%;
  margin-bottom: 15px;
  padding-left: .5rem;
  padding-right: .5rem;
}
.confirm-form input:focus{
  border-color: #441f7d;
  outline: none;
}
.confirm-form textarea{
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid rgba(0,0,0,0.4);
  border-radius: 5px;
  padding: .25rem;
}
.confirm-form textarea:focus{
  border-color: #441f7d;
  outline: none;
}
.ctn__confirm .confirm-form {
  margin-top: 3rem;
}
.btn-confirm{
  background-color: #441f7d ;
  color:white;
}

.response-message{
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #fff;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  transition: all linear .25s;
}
.response-message:empty{
  padding: 0;
  bottom: -2rem;
}
.response-message.success{
  background-color: #29c7ac;
}
.response-message.error{
  background-color: #84142d;
}