
.ctn__login{
  margin-top: 70px;
  background-color: #f8f5fd;
  padding-top: 2rem;
  min-height: 95vh;
}
.ctn__login  form{
  max-width: 420px;
}
.ctn__login  form input{
  width: 100%;
}
.ctn__login  form label{
  font-size: 1rem;
  margin-bottom: .25rem;
}





.noAccount{
  font-weight: 400 !important;
  font-size: 1rem !important;
  color: rgba(0,0,0,0.87) !important;
}

.ctn__login  form input {
    height: 40px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid rgba(0,0,0,0.4);
    border-radius: 5px;
    outline: none;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.ctn__login  form input:focus{
  border: 2px solid #441f7d;
}

@media screen and (max-width: 640px){
  .ctn__login{
    margin-top: 56px;
  }
}