
.container-title{
    display: flex;
    justify-content: flex-start;
    padding: auto;
    margin-top: 4%;
    
}
.container-body{
    display: flex;
    align-items: center;
}
.container-form{
    display: block;
    width: 100%;
    padding-right: 2rem;
}
.container-form input{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.row-input{
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}
.container-p{
    justify-self: start;
    margin-right: 3px;
}
.container-image{
    margin: auto;
    padding: auto;
    display: none;
}
.ctn-profile{
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.25rem;
    margin-bottom: 4rem;
}

input{
    height: 40px;
    width: 80%;
    margin-bottom: 10px;
    width: 100%;
    border-color: rgba(0,0,0,0.4);
    border-radius: 5px;
}
label{
    font-size: 20px;
    margin-bottom: 0px;
    width: 100%;
    text-align: left;
}
@media only screen and (min-device-width: 768px) {
    
    .container-image{
        display: block;
    }
    .row-input{
        display: flex;
        justify-content: space-around;
        text-align: left;
    }
}