
.container-title{
    display: flex;
    justify-content: flex-start;
    padding: auto;    
}
.container-body{
    display: flex;
    align-items: center;
}
.container-form{
    display: block;
    width: 100%;
    padding-right: 2rem;
}
.container-form input{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.row-input{
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}
.container-p{
    justify-self: start;
    margin-right: 3px;
}
.container-image{
    margin: auto;
    padding: auto;
    display: none;
}

.ctn-profile{
    margin-top: 64px;
    background-color: #f8f5fd;
}
.ctn-profile input{
    height: 40px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid rgba(0,0,0,0.4);
    border-radius: 5px;
    outline: none;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.ctn-profile input:focus{
    border: 2px solid #441f7d;
    border-radius: 5px;
}
.container-form-profile{
    display: flex;
    max-width: 450px;
    width: 100%;    
}
.container-form-profile form{
    width: 100%;
}

.container-body{
    display: flex;
    justify-content: space-between;
}
.ctn-profile  form label{
    font-size: 1rem;
    margin-bottom: .25rem;
}