.ctn-dashboard{
    margin-top: 64px;
}
.container-title{
    display: flex;
    justify-content: flex-start;
    padding: auto;    
}
.container{
    display: block;
    align-items: center;
}
.container-postIt{
    display: block;
    margin-top: 30px;
    color: blanchedalmond; 
   
}
.indicator{
    border: 2px solid #d7b7e4;
    padding: 1%;
    border-radius: 15px;
    max-width: 200px;
    margin: auto;
    margin-bottom: 30px;
}
.dashboard-body{
    display: block;
    margin-top: 3%;
}
.container-charts{
    display: none;
    
}
.container-tab{
    border: 2px solid #d7b7e4;
    padding: 3%;
    border-radius: 15px;
    margin-bottom: 2%;
}

.tab{
    color: black;
    border-radius: 5px;
}
.ctn-dashboard .card-title{
    background-color: #9e74dd;
    color: #ffffff;

    font-weight: bold;
    text-align:justify;
    width: 100%;
}
.tab tr :hover{
    color:#c32dff;
    
}
 .title-section{
    font-size: 25px;
    font-weight: bold;
    color:#c32dff;
} 
@media only screen and (min-width: 768px) {
    .container-postIt{
        display: flex;
        justify-content: space-between;
    }
    .container-charts{
        display: block;
        border: 2px solid #d7b7e4;
        padding: 3%;
        border-radius: 15px;
        margin-right: 2px;
    }
    .dashboard-body{
        display: flex;
        justify-content: space-between;
    }
    .container-tab{
        border: 2px solid #d7b7e4;
        padding: 3%;
        border-radius: 15px;
        margin-bottom: 2%;
    }
}