.ctn-dashboard{
    margin-top: 64px;
    background-color: #f8f5fd;
}
.container-title{
    display: flex;
    justify-content: flex-start;
    padding: auto;    
}
.container{
    display: block;
    align-items: center;
}
.container-postIt{
    display: block;
    margin-top: 30px;
    color: blanchedalmond; 
   
}
.indicator{
    border: 2px solid #d7b7e4;
    padding: 1%;
    border-radius: 15px;
    max-width: 200px;
    margin: auto;
    margin-bottom: 30px;
}
.dashboard-body{
    display: block;
    margin-top: 3%;
}
.container-charts{
    display: none;
    
}
.container-tab{
    border: 2px solid #d7b7e4;
    padding: 3%;
    border-radius: 15px;
    margin-bottom: 2%;
    display: table;
}
.tab{
    color: black;
    border-radius: 5px;
    font-weight: bold;
    text-align:justify;
    width: 100%;
    vertical-align: -webkit-baseline-middle;
}
.tab tr :hover{
    color:#c32dff;
    
}
 .title-section{
    font-size: 25px;
    font-weight: bold;
    color:#c32dff;
} 
@media only screen and (max-width: 640px) {
    .container-postIt{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .indicator{
        width: 40%;
        margin-left: 0;
        margin-right: 0;
    }
    .indicator:nth-of-type(2n+1){
        margin-right: 20%;
    }

    .container-tab{
        overflow-x: auto;
        display: block;
    }
    .postIt{
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
    .post-header{
        flex-direction: column;
    }
    .post-title,
    .post-icon{
        margin-top: 1rem;
        margin-left: 0;
        background-color: transparent;
    }
    .post-title{
        background-color: #c32dff;
    }
    .ctn-dashboard .container .row .title__section{
        padding-left: 1rem;
    }
}
@media only screen and (min-width: 1024px) {
    .container-postIt{
        display: flex;
        justify-content: space-between;
    }
    .container-charts{
        display: block;
        border: 2px solid #d7b7e4;
        padding: 3%;
        border-radius: 15px;
        margin-right: 2px;
    }
    .dashboard-body{
        display: flex;
        justify-content: space-between;
    }
    .container-tab{
        border: 2px solid #d7b7e4;
        border-radius: 15px;
        margin-bottom: 0;
    }
}