
.image-container{
  margin: 0;
  padding: 20px;
}

.image-container img{
  width: 100%;
}


.ctn--newEvent .icon-container{
  width: 15%;
  display: flex;
  justify-content: center;
}

.icon-container img {
  margin-right: 10px;
}
.ctn--newEvent{
  margin-top: 64px;
  background-color: #f8f5fd;
  padding-top: 2rem;
  min-height: 95vh;
}

.ctn--newEvent .event-form{
  max-width: 450px;
}
.ctn--newEvent .event-form label{
  font-size: 1rem;
  margin-bottom: 0px;
  display: inline-block;
  width: 100%;
}
.ctn--newEvent .event-form .icon-container{
  display: inline-block;
  width: auto;
  margin-right: 0;
}

.event-form input{
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid rgba(0,0,0,0.4);
  border-radius: 5px;
  outline: none;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.event-form input:focus{
  border: 2px solid #441f7d;
}
.event-form img{
  max-width: 24px;
  max-height: 30px;
}


.button{
  padding-top: 30px;
}

