.wrap__home{
  margin-top: 60px;
  background-color: #f8f5fd;
  padding-top: 0;
  min-height: 95vh; 
}

.home-title{
  color: #B8860B;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: left;
  margin-top: 2rem;
  display: inline-block;
  width: 100%;
  
}
.image-container{
  text-align: right;
  padding-top: 0;
}
.wrap__home .image-container img{
  align-self: flex-start;
}

.container-home .card-container{
  width: 100%;
}


.container-home{
  align-items: flex-start;
}
.wrap__home .row{
  padding-left: 0;
  padding-right: 0;
}