.event-header{
  padding: 20px 0 ;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #E8E2F1;
  margin: 0;
}

.event-btn {
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: space-between;
  font-weight: 700;
}

.event-btn .register{
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.event-btn .login{
  margin: 0;
  color: #B8860B;
  font-weight: bold;
  font-size: 20px;
}
.event-btn div {
  max-width: 200px;
  font-size: .875rem;
}
.event-btn div a{
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  padding-bottom: 0.25rem;
}
.event-btn div a:hover,
.event-btn div a.active {
  border-bottom: 2px solid #7342BF;
}

@media only screen and (min-width: 768px ){
  .event-header{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .event-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-end;  
    justify-content: space-evenly;
    padding: 0;
    font-size: 15px;
  }
  .event-btn div{
    max-width: 200px;
    padding-bottom: 0;
  }

}