.event-header{
  padding: 20px 0;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(245, 245, 245);
  margin: 0;
}

.event-btn {
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: space-between;
  font-weight: 700;
}

.event-btn .register{
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.event-btn .login{
  margin: 0;
  color: #B8860B;
  font-weight: bold;
  font-size: 20px;
}
.event-btn div {
  max-width: 90px;
  font-size: .875rem;
}

@media only screen and (min-width: 768px ){
  .event-header{
    padding: 20px 0;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(245, 245, 245);
    margin: 0;
  }
  
  .event-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-end;  
    justify-content: space-evenly;
    padding: 0;
    font-size: 15px;
  }

  .event-btn a:hover{
    text-decoration: none;
  }

  .event-btn div{
    padding-bottom: 10px;
  }

  .event-btn div:hover{
    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: 5px;
  }
}