.ctn__signup{
  margin-top: 70px;
  background-color: #f8f5fd;
  padding-top: 2rem;
  min-height: 95vh;
}
.image-container{
  padding: 30px;
}
.signin-form {
  max-width: 420px;
}
.signin-form  h2{
  color: #7342BF;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: left;
}
.signin-form label{
  font-size: 1rem;
  margin-bottom: .25rem;
}

.signin-form input{
  line-height: 40px;
  width: 100%;
  margin-bottom: 15px;
  padding-left: .5rem;
  padding-right: .5rem;
}
.signin-form input:focus{
  border-color: #441f7d;
  outline: none;
}
.response-message{
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #fff;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  transition: all linear .25s;
}
.response-message:empty{
  padding: 0;
  bottom: -2rem;
}
.response-message.success{
  background-color: #29c7ac;
}
.response-message.error{
  background-color: #84142d;
}
.ctn__signup .signin-form {
  margin-top: 3rem;
}

@media only screen and (min-width: 520px ){
  .image-container{
    padding: 30px;
  }
  .signin-form label{
    font-size: 1rem;
  }
}