.row{
  padding: 20px 0;
  padding-left: 30px;
  padding-right: 30px;
}

.image-container{
  padding: 30px;
}

h2{
  color: #B8860B;
  font-weight: bold;
  font-size: 40px;
  text-align: left;
}

.signin-form label{
  font-size: 20px;
  margin-bottom: 0px;
}

.signin-form input{
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
}
.response-message{
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #fff;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  transition: all linear .25s;
}
.response-message:empty{
  padding: 0;
  bottom: -2rem;
}
.response-message.success{
  background-color: #29c7ac;
}
.response-message.error{
  background-color: #84142d;
}

@media only screen and (min-width: 520px ){
  .row{
    padding: 20px 0;
    padding-left: 70px;
    padding-right: 70px;
  }

  .image-container{
    padding: 30px;
  }
  
  h2{
    color: #B8860B;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
  }
  
  .signin-form label{
    font-size: 20px;
    margin-bottom: 0px;
  }
  
  .signin-form input{
    height: 40px;
    width: 80%;
    margin-bottom: 10px;
  }
}