.index-header{
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0px 1px 3px lightgray;
}

.row{
  padding: 20px 0;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
}

.index-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-logo .logo-index{
  height: 80px;
}

.index-btn {
  display: flex;
  align-items: center;  
  justify-content: space-evenly;
  padding: 20px 0;
}

.index-btn .register{
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.index-btn .login{
  margin: 0;
  color: #B8860B;
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (min-width: 520px ){
  .index-header{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }

  .row{
    padding: 20px 0;
    padding-left: 70px;
    padding-right: 70px;
  }

  .index-logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .index-logo .logo-index{
    height: 60px;
  }
  
  .index-btn {
    display: flex;
    align-items: center;  
    justify-content: space-evenly;
    padding: 20px 0;
  }
  
  .index-btn .register{
    margin: 0;
    font-weight: bold;
    font-size: 24px;
  }
  .index-btn .login{
    margin: 0;
    color: #B8860B;
    font-weight: bold;
    font-size: 24px;
  }
}