.index-header{
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  padding: .5rem 0;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(68, 31, 125, .1);
}
.link__menu{
  font-size: 1rem;
  line-height: 60px;
  margin-left: 1rem;
  transition: all linear .25s;
  color: #441f7d;
  font-weight: 400;
}
.link__menu:hover,
.link__menu.active{
  color: #7342BF;
}
.logo-index{
  max-width: 150px;
}
.wrap__text{
  padding-top: 4rem;
  padding-bottom: 4rem;
}


@media screen and (max-width: 640px){
  .wrap__inner{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .logo-index{
    max-width: 100px;
  }
  .index-header .link__menu{
    font-size: .875rem;
    line-height: 2.5rem;
  }
  .index-header .link__menu:first-child{
    margin-left: 0;
  }
  .ctn__index{
    margin-top: 3rem;
  }
  .heroimage{
    height: 320px;
  }
  .wrap__text{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .index-title{
    font-size: 1.5rem;
  }
  .index-text{
    font-size: 1rem;
  }
  .cards-section .card-title img{
    max-width: 60px;
  }
  .cards-section .card-text p{
    margin-top: .5rem;
  }
}