.nav{
    display: flex;
    justify-content: space-between;
    margin: 1%;
    
}
.desktop__header{
    display: none;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.movil__header{
  display: block;
  margin-left: 2%;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: .5rem 1rem;
  margin-left: 0;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
}
.movil__header .nav{
    margin: 0;
}
.Menu {
  width: 100%;
  max-width: 260px;
  height: 100vh;
  color: #000000;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: -400px;
  box-shadow: 10px 0 30px rgba(0,0,0,0.2);
  padding: 20px 20px;
  transition: all linear .25s;
}
.Menu-button {
  width: 40px;
  height: 40px;
  border-radius: 10%;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: medium;
  padding: 0;
}
.Menu-button:hover {
    border-color: #B8860B;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.Menu-button:focus {
    outline: none;
}
.Menu-button img{
    max-width: 100%;
}
.Menu-active {
    top: 0;
    left: 0;
}
ul{
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: thin;
    border-color: rgba(0,0,0,.4);
    text-align: left;
    list-style-type: disc;
    margin: 0;
    padding: 20px;
}  
  li a {
      color: black;
      text-align: center;
      padding: 0;
      text-decoration: none;
      text-align: left;
      font-size: 1rem;
      margin: auto;
    }
  li{
      list-style-type: none;
      margin: 2px;
  }
  li a:hover{
      border-bottom-style: solid;
      border-color: darkorange;
      cursor: pointer;
      text-decoration: none;
  }
  .logo{
    max-width: 140px;
    max-height: 120px;
    margin-left: 10px;
}
  @media only screen and (min-width: 768px) {
      .desktop__header {
          display: block;
          padding: 0;
      }
      .movil__header{
          display: none;
      }
      li {
          float: left;
      }
      ul{
          text-align: left;
          border: none;
      }
      
    .nav{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19);
        width: 100%;
        margin: 0;
        padding: 0;
    }
    li a {
        padding: 16px;
      }
  }