
.wrap-event-detail{
  margin-top: 64px;
  background-color: #f8f5fd;
  min-height: 95vh;
}

.image-container{
  margin: 0;
  padding: 20px;
}

.image-container img{
  width: 100%;
}

.icon-container{
  width: 15%;
  display: flex;
  justify-content: center;
}

.icon-container img {
  margin-right: 10px;
}

.event__info img{
  max-width: 40px;
  max-height: 40px;
}

.event-form label{
  font-size: 20px;
  margin-bottom: 0px;
}

.event-form input{
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
}

.button{
  padding-top: 30px;
}

@media only screen and (min-width: 768px ){
  .image-container{
    padding: 30px;
  }

  .image-container img{
  width: 85%;
  }
  
  .icon-container{
    width: 15%;
    display: flex;
    justify-content: center;
  }

  .icon-container img {
    margin-right: 10px;
  }
  
  .event-form label{
    font-size: 20px;
    margin-bottom: 0px;
    width: 80%;
  }
  

}